<#@ template debug="false" hostspecific="true" language="C#" compilerOptions="/nullable:enable /langversion:latest" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Collections.Generic" #>
<#@ output extension=".cs" #>
namespace GenericFaces.Patterns;

<#
	bool first = true;
	string
		tArgs = string.Empty, tArgsPrev = string.Empty,
		tConstraints = string.Empty,
		tParameters = string.Empty, tParametersPrev = string.Empty,
		tCall = string.Empty, tCallPrev = string.Empty;
	for (int i = 0, iDisplay = 1; i < 16; i++, iDisplay++)
	{
		if (first)
		{
			tArgs = tArgsPrev = "T1";
			tConstraints = "where T1 : allows ref struct";
			tParameters = tParametersPrev = "out T1 t1";
			tCall = tCallPrev = "out t1";
		}
		else
		{
			tArgsPrev = tArgs;
			tArgs += $", T{iDisplay}";
			tConstraints += $"\r\n\twhere T{iDisplay} : allows ref struct";
			tParametersPrev = tParameters;
			tParameters += $", out T{iDisplay} t{iDisplay}";
			tCallPrev = tCall;
			tCall += $", out t{iDisplay}";
		}
#>
public interface IDeconstructible<<#= tArgs #>>
<#
		if (!first)
		{
#>
	: IDeconstructible<<#= tArgsPrev #>>
<#
		}
#>
	<#= tConstraints #>
{
	public void Deconstruct(<#= tParameters #>);
<#
		if (!first)
		{
#>
	void IDeconstructible<<#= tArgsPrev #>>.Deconstruct(<#= tParametersPrev #>) => Deconstruct(<#= tCallPrev #>, out _);
<#
		}
#>
}

<#
		first = false;
	}
#>